@media (max-width: 540px) {
    .card{
        width: 340px;
        height: 340px;

    }

    .conselho-numero{
        font-size: 13px;
    }

    .conselho-texto{
        font-size: 18px;
        padding-bottom: 40px;
    }

}